* {
  box-sizing: border-box;
  margin: 0;
}

.dark {
  height: 100vh;
  font-size: 1.5em;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --button-background-color: white;
  --button-text-color: black;
  --button-hover-box-shadow: 0 0 40px #111827;
  --button-hover-color: white;
  --button-hover-background-color: #3d4a68;
  background-color: rgb(199 210 254);
  color: black;
}

.light {
  height: 100vh;
  font-size: 1.5em;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --button-background-color: gray;
  --button-text-color: white;
  --button-hover-box-shadow: 0 0 40px #80a0bf;
  --button-hover-color: #71d5ec;
  --button-hover-background-color: transparent;
  background-color: #111827;
  color: white;
}

input {
  margin-left: 1em;
}

#output {
  font-weight: bold;
}
