body {
  --button-background-color: gray;
  --button-text-color: white;
  background-color: #111827;
  color: white;
}

body.dark {
  --button-background-color: white;
  --button-text-color: black;
  background-color: rgb(199 210 254);
  color: black;
}

#root {
  font-size: 1.5em;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  margin-left: 1em;
}

#output {
  font-weight: bold;
}